/* src/components/FashionModelPage.css */

.fashionmodel {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.modelimage {
  width: 101%;
  height: 40vh; /* 100% of the viewport height */
  object-fit: cover; /* Ensure the image covers the entire element */
  object-position: center; /* Center the image within the element */
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}





.card {
  width: 250px;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  border: 1px solid #fffcfc;
  border-radius: 5px;
  background-color: #fffcfc;
 
}
.textmuted{
  
  font-weight:bolder;
  color: rgb(34, 24, 24);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.cardtext{
color: rgb(53, 52, 39);
display: flex;
justify-content: center;
font-weight:bolder;

}
.fashioncontainer{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0px 40px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 16px 0 rgba(2, 2, 2, 0.2);
  border: 1px solid #810303;
}



.cardbody {
  padding: 10px;
}

.cardtext {
  font-size: 1.2rem;
}
.card img {
  max-width: 100%;
  height: 5cm;
}
.textmuted {
  color: #030303;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px); /* Two cards per row with some spacing */
  }

  .fashionmodel {
    align-items: flex-start; /* Align items to the left for smaller screens */
  }
  
  .card + .card {
    margin-top: 20px; /* Add margin to separate rows of cards */
  }
}

/* You can add more styling as needed for your fashion model page. */